#analog-clock {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-left: 30px;
}
#analog-clock.light-mode {
  border: 5px solid var(--light-color);
  .second {
    background-color: #eaff0085;
  }
  .number {
    color: var(--light-color);
  }
}
#analog-clock.dark-mode {
  border: 5px solid var(--dark-color);
  .second {
    background-color: #00eaff;
  }
  .number {
    color: var(--dark-color);
  }
}
.hand {
  transform-origin: center bottom;
  position: absolute;
  /* width: 50%;
  height: 2px; */
  bottom: 50%;
  border-radius: 4px;
  /* top: 50%; */
  left: 50%;
  /* bottom: 50%; */
  /* transform-origin: 100%; */
}

.hour {
  width: 5px;
  height: 35px;
  background-color: gray;
}
.minute {
  width: 4px;
  height: 50px;
  background-color: gray;
}
.second {
  width: 2px;
  height: 58px;
}
.center {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  font-family: "Digital-7", monospace;
  font-size: 25px;
}
.number12 {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.number3 {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.number6 {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.number9 {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
