#app {
  /* width: 100%;
  min-height: 100vh; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#date-temperature {
  padding-left: 30px;
}
