#clock {
  font-family: "Digital-7", monospace;
  font-size: 140px;
  padding-right: 30px;
}
#clock.light-mode {
  border-right: 3px solid var(--light-color);
  text-shadow: 0 0 7px var(--light-color);
}
#clock.dark-mode {
  border-right: 3px solid var(--dark-color);
  text-shadow: 0 0 7px var(--dark-color);
}
.digit {
  width: 80px;
  display: inline-flex;
  justify-content: center;
}
