#temperature {
  display: flex;
  font-family: "Digital-7", monospace;
  font-size: 40px;
  padding-top: 10px;
}
#temperature.light-mode {
  border-top: 3px solid var(--light-color);
}
#temperature.dark-mode {
  border-top: 3px solid var(--dark-color);
}
.temIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
