#temperature {
  display: flex;
  font-family: "Digital-7", monospace;
  color: #b3f9ff;
  font-size: 40px;
  padding-top: 10px;
  border-top: 3px solid #b3f9ff;
}
.temIcon {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
